body, h1, h5 {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

h1 {
    letter-spacing: 5px;
}

a {
    cursor: pointer;
}

#leaderboard-results a, 
#leaderboard-results a:link, 
#leaderboard-results a:visited {
    color: #000;
}

#leaderboard-results thead {
    color: #fff; 
    background-color: #330872;
}

.table {
    --bs-table-color: initial;
    --bs-table-bg: initial;
}

.btn-secondary {
    background-color: #fff;
}

input[type="checkbox"] {
    border-color: #000;
}

#result-1 {
    background-color: #FFD700
}

#result-2 {
    background-color: #C0C0C0;
}

#result-3 {
    background-color: #e1b284;
}

#content-map {
    height: 70vh; 
    width: 100%;
}

#map-container {
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}