body, h1, h5 {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

h1 {
    letter-spacing: 5px;
}

a {
    cursor: pointer;
}

.table {
    --bs-table-color: initial;
    --bs-table-bg: initial;
}

.btn-secondary {
    background-color: #fff;
}

input[type="checkbox"] {
    border-color: #000;
}

#result-1 {
    background-color: #FFD700
}

#result-2 {
    background-color: #C0C0C0;
}

#result-3 {
    background-color: #e1b284;
}